.elementor-399 .elementor-element.elementor-element-7ab5c830 {
    --display: flex;
    --min-height: 50px;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 50px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-399 .elementor-element.elementor-element-7ab5c830:not(.elementor-motion-effects-element-type-background),
.elementor-399 .elementor-element.elementor-element-7ab5c830>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #090909;
}

.elementor-399 .elementor-element.elementor-element-6b3cf6a1 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --flex-wrap: nowrap;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-399 .elementor-element.elementor-element-6b3cf6a1.e-con {
    --align-self: flex-start;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-57e08351 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: flex-start;
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
}

.elementor-399 .elementor-element.elementor-element-57e08351.e-con {
    --align-self: flex-start;
    --order: -99999
        /* order start hack */
    ;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-78d7c56b {
    width: 100%;
    max-width: 100%;
}

.elementor-399 .elementor-element.elementor-element-78d7c56b .elementor-heading-title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
    color: var(--e-global-color-accent);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 {
    width: 100%;
    max-width: 100%;
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-10px/2);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-10px/2);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var(--e-global-color-primary);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var(--e-global-color-primary);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-4fc3931-font-family), Sans-serif;
    font-size: var(--e-global-typography-4fc3931-font-size);
    font-weight: var(--e-global-typography-4fc3931-font-weight);
    text-transform: var(--e-global-typography-4fc3931-text-transform);
    line-height: var(--e-global-typography-4fc3931-line-height);
    letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-399 .elementor-element.elementor-element-6ffacc0e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: flex-end;
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
}

.elementor-399 .elementor-element.elementor-element-6ffacc0e.e-con {
    --align-self: flex-start;
    --order: -99999
        /* order start hack */
    ;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-50e5f86 {
    width: 100%;
    max-width: 100%;
}

.elementor-399 .elementor-element.elementor-element-50e5f86 .elementor-heading-title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
    color: #000000;
}

.elementor-399 .elementor-element.elementor-element-4d129b08 {
    width: 100%;
    max-width: 100%;
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-10px/2);
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-10px/2);
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-item>a {
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-399 .elementor-element.elementor-element-4d129b08 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-399 .elementor-element.elementor-element-7ca3a45e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-start;
    --align-items: flex-start;
    --gap: 30px 30px;
    --row-gap: 30px;
    --column-gap: 30px;
}

.elementor-399 .elementor-element.elementor-element-7ca3a45e.e-con {
    --align-self: flex-start;
    --order: -99999
        /* order start hack */
    ;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-17971074 {
    width: 100%;
    max-width: 100%;
}

.elementor-399 .elementor-element.elementor-element-17971074 .elementor-heading-title {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-weight: var(--e-global-typography-accent-font-weight);
    color: var(--e-global-color-accent);
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 {
    width: 100%;
    max-width: 100%;
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px;
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-block-end: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-block-start: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-inline: calc(10px/2);
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-items.elementor-inline-items {
    margin-inline: calc(-10px/2);
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    inset-inline-end: calc(-10px/2);
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-icon i {
    transition: color 0.3s;
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-icon svg {
    transition: fill 0.3s;
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-item>a {
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.2em;
    letter-spacing: 0.4px;
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color 0.3s;
}

.elementor-399 .elementor-element.elementor-element-244ce5c7 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-399 .elementor-element.elementor-element-72d0a038 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --align-items: flex-end;
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
    --flex-wrap: wrap;
}

.elementor-399 .elementor-element.elementor-element-72d0a038.e-con {
    --align-self: flex-end;
    --order: -99999
        /* order start hack */
    ;
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-6ed53416 {
    width: var(--container-widget-width, 16%);
    max-width: 16%;
    margin: 0px 0px calc(var(--kit-widget-spacing, 0px) + 0px) 0px;
    padding: 0px 0px 0px 0px;
    --container-widget-width: 16%;
    --container-widget-flex-grow: 0;
    text-align: right;
}

.elementor-399 .elementor-element.elementor-element-6ed53416.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 1;
}

.elementor-399 .elementor-element.elementor-element-6ed53416 img {
    width: 100%;
    max-width: 130px;
    border-radius: 0px 0px 0px 0px;
}

.elementor-399 .elementor-element.elementor-element-38f9643c {
    width: auto;
    max-width: auto;
    text-align: right;
}

.elementor-399 .elementor-element.elementor-element-38f9643c.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-399 .elementor-element.elementor-element-38f9643c .elementor-heading-title {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    line-height: var(--e-global-typography-primary-line-height);
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
    color: var(--e-global-color-fb5a382);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .elementor-repeater-item-d75382b>a {
    color: var(--e-global-color-fb5a382);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .elementor-repeater-item-d75382b>a svg path {
    stroke: var(--e-global-color-fb5a382);
    fill: var(--e-global-color-fb5a382);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .elementor-repeater-item-d75382b>a:hover {
    color: var(--e-global-color-primary);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .elementor-repeater-item-d75382b>a:hover svg path {
    stroke: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .elementor-repeater-item-1e89cea>a {
    color: var(--e-global-color-fb5a382);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .elementor-repeater-item-1e89cea>a svg path {
    stroke: var(--e-global-color-fb5a382);
    fill: var(--e-global-color-fb5a382);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .elementor-repeater-item-1e89cea>a:hover {
    color: var(--e-global-color-primary);
    background-color: var(--e-global-color-aaef689);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .elementor-repeater-item-1e89cea>a:hover svg path {
    stroke: var(--e-global-color-primary);
    fill: var(--e-global-color-primary);
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 {
    width: 100%;
    max-width: 100%;
}

.elementor-399 .elementor-element.elementor-element-42b9ef06>.elementor-widget-container {
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-399 .elementor-element.elementor-element-42b9ef06.elementor-element {
    --align-self: center;
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media {
    text-align: right;
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media>li>a {
    text-align: right;
    text-decoration: none;
    padding: 0px 0px 0px 0px;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
    text-transform: var(--e-global-typography-primary-text-transform);
    line-height: 0px;
    letter-spacing: var(--e-global-typography-primary-letter-spacing);
    width: 27px;
    height: 0px;
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media>li {
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media>li>a i {
    font-size: 19px;
}

.elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media>li>a svg {
    max-width: 19px;
}

.elementor-399 .elementor-element.elementor-element-23a124b6 {
    --display: flex;
}

.elementor-399 .elementor-element.elementor-element-20ef6e1f {
    --divider-border-style: solid;
    --divider-color: var(--e-global-color-0304463);
    --divider-border-width: 1px;
}

.elementor-399 .elementor-element.elementor-element-20ef6e1f .elementor-divider-separator {
    width: 100%;
}

.elementor-399 .elementor-element.elementor-element-20ef6e1f .elementor-divider {
    padding-block-start: 5px;
    padding-block-end: 5px;
}

.elementor-399 .elementor-element.elementor-element-224e599e {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --padding-top: 0px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-399 .elementor-element.elementor-element-6d3e71e9 {
    font-family: "Work Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.2em;
    letter-spacing: 0.4px;
    color: var(--e-global-color-accent);
}

.elementor-399 .elementor-element.elementor-element-208c5686 {
    width: auto;
    max-width: auto;
    column-gap: 0px;
    text-align: right;
    font-family: var(--e-global-typography-4fc3931-font-family), Sans-serif;
    font-size: var(--e-global-typography-4fc3931-font-size);
    font-weight: var(--e-global-typography-4fc3931-font-weight);
    text-transform: var(--e-global-typography-4fc3931-text-transform);
    line-height: var(--e-global-typography-4fc3931-line-height);
    letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    color: var(--e-global-color-accent);
}

.elementor-399 .elementor-element.elementor-element-208c5686.elementor-element {
    --align-self: center;
}

body.elementor-page-399:not(.elementor-motion-effects-element-type-background),
body.elementor-page-399>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000000;
}

@media(max-width:1680px) {

    .elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-4fc3931-font-size);
        line-height: var(--e-global-typography-4fc3931-line-height);
        letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-6ed53416 {
        --container-widget-width: 113px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 113px);
        max-width: 113px;
    }

    .elementor-399 .elementor-element.elementor-element-38f9643c .elementor-heading-title {
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media>li>a {
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-208c5686 {
        font-size: var(--e-global-typography-4fc3931-font-size);
        line-height: var(--e-global-typography-4fc3931-line-height);
        letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    }
}

@media(min-width:768px) {
    .elementor-399 .elementor-element.elementor-element-6b3cf6a1 {
        --width: 100%;
    }

    .elementor-399 .elementor-element.elementor-element-57e08351 {
        --width: 8%;
    }

    .elementor-399 .elementor-element.elementor-element-6ffacc0e {
        --width: 9%;
    }

    .elementor-399 .elementor-element.elementor-element-7ca3a45e {
        --width: 8%;
    }

    .elementor-399 .elementor-element.elementor-element-72d0a038 {
        --width: 63%;
    }
}

@media(max-width:1425px) and (min-width:768px) {
    .elementor-399 .elementor-element.elementor-element-57e08351 {
        --width: 145.544px;
    }

    .elementor-399 .elementor-element.elementor-element-7ca3a45e {
        --width: 214.547px;
    }

    .elementor-399 .elementor-element.elementor-element-72d0a038 {
        --width: 680.643px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-399 .elementor-element.elementor-element-57e08351 {
        --width: 25%;
    }

    .elementor-399 .elementor-element.elementor-element-6ffacc0e {
        --width: 25%;
    }

    .elementor-399 .elementor-element.elementor-element-7ca3a45e {
        --width: 25%;
    }

    .elementor-399 .elementor-element.elementor-element-72d0a038 {
        --width: 100%;
    }
}

@media(min-width:2400px) {
    .elementor-399 .elementor-element.elementor-element-7ab5c830 {
        --padding-top: 50px;
        --padding-bottom: 30px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-4fc3931-font-size);
        line-height: var(--e-global-typography-4fc3931-line-height);
        letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-38f9643c .elementor-heading-title {
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media>li>a {
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-208c5686 {
        font-size: var(--e-global-typography-4fc3931-font-size);
        line-height: var(--e-global-typography-4fc3931-line-height);
        letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    }
}

@media(max-width:1024px) {
    .elementor-399 .elementor-element.elementor-element-7ab5c830 {
        --flex-wrap: wrap;
    }

    .elementor-399 .elementor-element.elementor-element-6b3cf6a1 {
        --justify-content: space-between;
        --align-items: stretch;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --flex-wrap: wrap;
        --margin-top: 0px;
        --margin-bottom: 30px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-399 .elementor-element.elementor-element-57e08351 {
        --justify-content: space-between;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    }

    .elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-4fc3931-font-size);
        line-height: var(--e-global-typography-4fc3931-line-height);
        letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-6ffacc0e {
        --justify-content: space-between;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    }

    .elementor-399 .elementor-element.elementor-element-7ca3a45e {
        --justify-content: space-between;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    }

    .elementor-399 .elementor-element.elementor-element-72d0a038 {
        --justify-content: flex-start;
        --align-items: flex-start;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --margin-top: 050px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-399 .elementor-element.elementor-element-6ed53416 {
        --container-widget-width: 99px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 99px);
        max-width: 99px;
        text-align: right;
    }

    .elementor-399 .elementor-element.elementor-element-6ed53416.elementor-element {
        --align-self: center;
    }

    .elementor-399 .elementor-element.elementor-element-6ed53416 img {
        width: 115px;
        max-width: 120px;
    }

    .elementor-399 .elementor-element.elementor-element-38f9643c {
        width: var(--container-widget-width, 103px);
        max-width: 103px;
        --container-widget-width: 103px;
        --container-widget-flex-grow: 0;
        text-align: center;
    }

    .elementor-399 .elementor-element.elementor-element-38f9643c.elementor-element {
        --align-self: center;
    }

    .elementor-399 .elementor-element.elementor-element-38f9643c .elementor-heading-title {
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media>li>a {
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-208c5686 {
        font-size: var(--e-global-typography-4fc3931-font-size);
        line-height: var(--e-global-typography-4fc3931-line-height);
        letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    }
}

@media(max-width:767px) {
    .elementor-399 .elementor-element.elementor-element-6b3cf6a1 {
        --width: 100%;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --align-content: center;
    }

    .elementor-399 .elementor-element.elementor-element-6b3cf6a1.e-con {
        --align-self: center;
        
    }

    .elementor-399 .elementor-element.elementor-element-57e08351 {
        --width: 100%;
        --margin-top: 0px;
        --margin-bottom: 20px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-399 .elementor-element.elementor-element-78d7c56b {
        text-align: center;
    }

    .elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-399 .elementor-element.elementor-element-5e67be67 .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-4fc3931-font-size);
        line-height: var(--e-global-typography-4fc3931-line-height);
        letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-6ffacc0e {
        --width: 100%;
        --margin-top: 0px;
        --margin-bottom: 20px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-399 .elementor-element.elementor-element-50e5f86 {
        text-align: center;
    }

    .elementor-399 .elementor-element.elementor-element-7ca3a45e {
        --width: 100%;
        --margin-top: 0px;
        --margin-bottom: 20px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-399 .elementor-element.elementor-element-17971074 {
        text-align: center;
    }

    .elementor-399 .elementor-element.elementor-element-72d0a038 {
        --width: 100%;
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
        --align-content: center;
    }

    .elementor-399 .elementor-element.elementor-element-72d0a038.e-con {
        --align-self: center;
    }

    .elementor-399 .elementor-element.elementor-element-6ed53416 {
        width: var(--container-widget-width, 70px);
        max-width: 70px;
        --container-widget-width: 70px;
        --container-widget-flex-grow: 0;
        text-align: center;
    }

    .elementor-399 .elementor-element.elementor-element-6ed53416.elementor-element {
        --flex-grow: 0;
        --flex-shrink: 1;
    }

    .elementor-399 .elementor-element.elementor-element-6ed53416 img {
        width: 80px;
        max-width: 90px;
    }

    .elementor-399 .elementor-element.elementor-element-38f9643c {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .elementor-399 .elementor-element.elementor-element-38f9643c .elementor-heading-title {
        line-height: var(--e-global-typography-primary-line-height);
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
    }

    .elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media {
        text-align: center;
    }

    .elementor-399 .elementor-element.elementor-element-42b9ef06 .ekit_social_media>li>a {
        text-align: center;
        line-height: 57px;
        letter-spacing: var(--e-global-typography-primary-letter-spacing);
        height: 0px;
    }

    .elementor-399 .elementor-element.elementor-element-224e599e {
        --align-items: center;
        --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    }

    .elementor-399 .elementor-element.elementor-element-224e599e.e-con {
        --align-self: center;
    }

    .elementor-399 .elementor-element.elementor-element-6d3e71e9 {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .elementor-399 .elementor-element.elementor-element-6d3e71e9.elementor-element {
        --align-self: center;
    }

    .elementor-399 .elementor-element.elementor-element-208c5686 {
        width: 100%;
        max-width: 100%;
        text-align: center;
        font-size: var(--e-global-typography-4fc3931-font-size);
        line-height: var(--e-global-typography-4fc3931-line-height);
        letter-spacing: var(--e-global-typography-4fc3931-letter-spacing);
    }
}